@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  --Soft-orange: hsl(35, 77%, 62%);
  --Soft-red: hsl(5, 85%, 63%);
  --Off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);
  --ff: "Inter", sans-serif;
}

body {
  font-family: var(--ff);
}

ul {
  color: var(--Dark-grayish-blue);
}
.mobile-nav {
  color: var(--very-dark-blue);
  font-weight: 700;
  font-size: 15px;
  padding-top: 4rem;
}

.hamburger-close {
  margin: 1rem 0 0 20rem;
}
